
node_modules/

public/Recipe web/

logs
*.log
npm-debug.log*

lib-cov

coverage

.nyc_output

.grunt

bower_components

.idea
.vscode
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

.env

[Tt]emp/
[Tt]emp*/

[Ll]ibrary/
[Ll]ibrary*/

[Bb]uild/
[Bb]uild*/

[Bb]uilds/
[Bb]uilds*/

*.pidb.meta
*.pidb
*.pdb

.vscode/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

*.unitypackage

sysinfo.txt

*.tmproj
*.swp
*.swm

.idea/
.idea/*
.idea/workspace.xml
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/.idea/

[Uu]nity[Ll]ogs/