* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif; /* Aplicar la fuente Inter a todo el contenido */
    background-color: #F5F5DC;
    text-align: center;
    margin: 0;
    padding: 0;
}

.top-bar {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #593E2E; /* Color de fondo de la barra superior */
    padding: 20px 20px;
    color: #FFFFFF; /* Color del texto */
    position: fixed; /* Barra fija */
    top: 0;
    left: 0;
    z-index: 1000;
    margin-left: auto;
    align-items: center;
}

.instruction-link{
    text-decoration: none;
    color: #F5F5DC;
    margin-left: auto;

}

.nav-left, .nav-right {
    align-items: center; /* Centra verticalmente los iconos dentro de cada sección */
}

.nav-left {
    justify-content: flex-start; /* Alinea los enlaces a la izquierda dentro del contenedor */
    align-items: center;
    
}

.nav-right {
    display: flex;
    margin-left: auto;

}

.nav-icon {
    height: 40px; /* Ajusta el tamaño de los iconos según sea necesario */
    margin: 0 10px; /* Espaciado entre iconos */
}

/* Opcional: Estilo para los enlaces */
.nav-left a, .nav-right a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center; /* Asegura que el contenido del enlace esté centrado verticalmente */
}

.centered-div {
    text-align: center;
    margin-top: 60px; /* Espacio para la barra superior */
    background-color: #F5F5DC;
    padding: 300px;
    border-radius: 8px;
}

main{
    margin-top: 60px;
}


.title {
    text-align: center;
    background-color: #F5F5DC;
    padding: 10px;
    border-radius: 8px;
}


h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #593E2E;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #593E2E;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #FF7171;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #FF9191;
}

.chef-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 1000;
}

.return-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #FF7171;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s;
}
.return-button:hover {
    background-color: #FF9191;
}

.instruction-text{

    color: #593E2E;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px); 
    padding-top: 60px; 
}

#unityCanvas {
    width: 1000px;
    height: 600px;
}

#loadingBar {
    width: 500%;
    height: 4px;
    background-color: #ccc;
    margin-bottom: 15px;
}

#progressBarFull {
    height: 100%;
    width: 0;
    background-color: #4caf50;

}

.about-section{
    color: #593E2E;
    margin: 60px;
}

.image{
    margin: 20px auto;
    display: block;
    height: 30m;
    width: 25em;
    border-left: 20px solid #FFF;
    border-right: 20px solid #FFF;
    border-top: 20px solid #FFF;
    border-bottom: 60px solid #FFF;
}
.chart-container {
    max-width: 100%;
    height: 500px;
    margin: 10px; /* Reducimos el margen vertical */
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 150px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #4B3E2F;
    padding: 10px;
    position: relative; /* Para asegurarse de que esté en el flujo del documento */
    z-index: 10; /* Asegurarse de que esté encima de otros elementos */
}

.navbar a {
    text-decoration: none;
}

.navbar-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

@media (min-width: 768px) {
    .chart-container {
        max-width: 1000px;
        height: 600px;
        padding-top: 200px
    }
}