* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif; /* Aplicar la fuente Inter a todo el contenido */
    background-color: #F5F5DC;
    text-align: center;
    margin: 0;
    padding: 0;
}

.top-bar {
    width: 100%;
    background-color: #593E2E; /* Color de fondo de la barra superior */
    padding: 10px 0;
    text-align: right; /* Alinear el texto a la derecha */
    color: #FFFFFF; /* Color del texto */
    position: fixed; /* Barra fija */
    top: 0;
    left: 0;
    z-index: 1000;
    padding-right: 20px; /* Espacio a la derecha */
}

.top-bar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.centered-div {
    text-align: center;
    margin-top: 60px; /* Espacio para la barra superior */
    background-color: #F5F5DC;
    padding: 300px;
    border-radius: 8px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #593E2E;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #593E2E;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #FF7171;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #FF9191;
}
